apiVersion: chubao.rook.io/v1alpha1
kind: ChubaoMonitor
metadata:
  name: mymonitor
  namespace: rook-chubao
spec:
  prometheus:
    image: prom/prometheus:v2.13.1
    imagePullPolicy: IfNotPresent
    port: 9090
    hostPath: 
      Path: /var/lib/chubaofs_prometheus
    consulUrl: http://consul-service.rook-chubao.svc.cluster.local:8500
  grafana:
    image: grafana/grafana:6.4.4
    imagePullPolicy: IfNotPresent
    port: 3000
